#kwetter-viewlets-timeline { width: 400px; }

.kwetter #loadmore {
	color: blue;
	font-weight: bold;
	width: 100%;
	text-align: center;
	border: solid 1px gray;
	margin: 1em 0;
}
#kwetter-update textarea {
	width: 300px;
	height: 70px;
}
.kwetter_msgcontainer {
	display: block;
	border: solid 1px #cccccc;
	padding: 0 0 0 5px;
	margin: 0 0 5px;
	max-width: 30em;
	min-height: 3.5em;
}
.kwetter_avatar {
	display: block;
	font-size: 90%;
	color: blue;
	padding: 0 5px;
}
.kwetter_message {
	display: block;
	padding: 0 5px;
	font-size: 0.8em;
}
.kwetter_datetime {
	display: block;
	font-size: 75%;
	color: gray;
	padding: 0 40px;
}
.commentImage {
	margin-top: 2px;
}
#charsAllowed {
	color: gray;
}
FORM#kwetter-update {
	max-width: 30em;
}
