#kwetter { width: 400px; }

#loadmore {
	color: blue;
	font-size: 9px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	border: solid 1px gray;
}
#timeline textarea {
	width: 300px;
	height: 40px;
}
.kwetter_msgcontainer {
	display: block;
	border: solid 1px #cccccc;
	padding: 0 0 0 40px;
	margin: 0 0 5px;
}
.kwetter_avatar {
	display: block;
	font-size: 90%;
	color: blue;
	padding: 0 5px;
}
.kwetter_message {
	display: block;
	padding: 0 5px;
}
.kwetter_datetime {
	display: block;
	font-size: 90%;
	color: gray;
	padding: 0 5px;
}
