#kwetter-timeline-container { width: 30em; }

.kwetter #loadmore {
	color: blue;
	font-weight: bold;
	width: 100%;
	text-align: center;
	border: solid 1px gray;
	margin: 1em 0;
}
#kwetter-update textarea {
	width: 100%;
	height: 70px;
}
.kwetter_msgcontainer {
	display: block;
	border: solid 1px #cccccc;
	padding: 5px;
	margin: 0 0 5px;
	min-height: 3.5em;
}
.kwetter_avatar {
	display: block;
	font-size: 90%;
	color: blue;
}
.kwetter_avatar a {
	color: #444;
	font-weight: bold;
}
.kwetter_avatar a:hover {
	text-decoration: underline;
	color: #205c90;
}
.kwetter_message {
	display: block;
	font-size: 14px;
	color: #444;
	line-height: 125%;
}
.kwetter_datetime {
	display: block;
	font-size: 11px;
	color: gray;
}
.kwetter_Image {
	float: left;
	height: 64px;
	width: 64px;
	overflow: hidden;
}
.kwetter_Block {
	margin-left: 74px;
	min-height: 80px;

}
#kwetter-submit {
	float: right;
	padding: .5em 0;
}

#charsAllowed {
	color: gray;
}
FORM#kwetter-search,
FORM#kwetter-update {
	padding: 5px 5px 30px 5px;
	margin: 0 0 10px 0;
}
