[buildout]
parts = instance
extends = http://dist.plone.org/release/4.0-latest/versions.cfg
find-links = 
    http://dist.repoze.org/     
    http://effbot.org/downloads
develop = .

[instance]
recipe = plone.recipe.zope2instance
eggs =
    PIL    
    collective.kwetter
    plone.reload
    
zcml = 
    collective.kwetter

[test]
recipe = zc.recipe.testrunner
eggs = 
     Zope2
     PIL
     Plone
     ${instance:eggs}

